@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 370;
  display: flex;
  justify-content: center;
}

img {
  height: 200px;
  width: 227px;
  border-radius: 10%;
}
button {
  cursor: pointer;
  width: 100px;
  margin: 10px;

  background-color: black;
  border-radius: 20px;
  color: white;
  background-color: rgb(120, 4, 27);
}
button:hover {
  background-color: rgb(252, 6, 55);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  flex-wrap: wrap;
  background-color: black;
}

.card {
  margin: 80px;
  border-radius: 10%;
  border: 2px solid crimson;
}

.card:hover {
  box-shadow: 5px 5px 25px -5px rgba(248, 44, 44, 0.5);
}
.card-info {
  width: 227px;
  color: antiquewhite;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: small;
}
h2 {
  font-weight: 400;
}
